* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

/* ÃƒÂ¥Ã‚Â¤Ã‚Â´ÃƒÂ©Ã†â€™Ã‚Â¨ÃƒÂ©Ã†â€™Ã‚Â¨ÃƒÂ¥Ã‹â€ Ã¢â‚¬Â ÃƒÂ¥Ã‚Â¼Ã¢â€šÂ¬ÃƒÂ¥Ã‚Â§Ã¢â‚¬Â¹ */
.globalNav {
    background: #f5f5f5;
}

.headerContainer {
    margin: 0 auto;
    display: flex;
    max-width: 1280px;
    justify-content: space-between;
    padding: 15px 0px;
}

.headerIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    margin-right: 50px;
}

.headerIcon img {
    width: 20px;
}

.headerIcon span {
    color: #706D6E;
    margin-left: 5px;
}

a {
    text-decoration: none;
    color: #B07C66;
}

.headerSpan {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    margin: 0 30px;
}

.headerRight {
    display: flex;
    flex: 1 0 560px;
    justify-content: flex-end;
}

.headerSearch {
    border: 1px solid #707070;
    padding: 5px 0px;
    flex: 0 0 460px;
    display: flex;
    justify-content: space-evenly;
}

.headerSearch input[type="text"] {
    width: 90%;
    height: 100%;
    outline: none;
    border: none;
    background: #f5f5f5;
}

.shopcat i {
    font-size: 18px;
    font-weight: 600;
    transition: all 0.4s ease;
    cursor: pointer;
}

.shopcat i:hover {
    color: #0078D7;
}

.shopcat {
    line-height: 34px;
}

.login {
    line-height: 34px;
    cursor: pointer;
}

.login span {
    transition: all 0.4s ease;
}

.login span:hover {
    color: #007ACC;
}

.login span i {
    font-size: 8px;
    margin-left: 5px;
}

.headerMain {
    min-width: 600px;
    justify-content: space-between;
    display: flex;
}

.headerSearch i.icon.iconfont {
    font-size: 18px;
    line-height: 21px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.headerSearch i.icon.iconfont:hover {
    color: #007ACC;
}

.Headerjieshao {
    margin-right: 50px;
}

.HeaderNav {
    flex: 1 1 auto;
    margin: 0 30px;
}

.HeaderNav ul {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.HeaderNav ul li {
    position: relative;
}

.HeaderNav>nav>ul>li:nth-child(1)::before {
    content: 'Ã¦â€“Â°Ã¥â€œÂ';
    width: 30px;
    height: 20px;
    background: #E71224;
    position: absolute;
    font-size: 8px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    z-index: 3;
    top: -20px;
    right: -30px;
}

.HeaderNav>nav>ul>li:nth-child(1)::after {
    content: '';
    border-style: solid;
    border-width: 8px;
    border-color: transparent #E71224 transparent transparent;
    position: absolute;
    top: -13px;
    right: -15px;
    transform: rotate(55deg);
}

.globalHeader {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.Headerjieshao a {
    color: #000;
}

.globalHeader .headerContainer {
    padding: 25px 0px;
}

.HeaderNav nav {
    display: flex;
    width: 500px;
}

.HeaderNav a {
    color: #0067b8;
}

ul.headercloums {
    flex-direction: column;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: #fff;
    padding-bottom: 10px;
    border-radius: 5px;
    left: -35px;
    top: 45px;
    display: none;
}

ul.headercloums li {
    width: 200px;
    padding: 25px;
    transition: all 0.4s ease;
    text-decoration: none;
}

ul.headercloums li:hover {
    background: #E4F0F9;
}

ul.headercloums li:hover a {
    text-decoration: underline;
}

/* ÃƒÂ¥Ã‚Â¤Ã‚Â´ÃƒÂ©Ã†â€™Ã‚Â¨ÃƒÂ©Ã†â€™Ã‚Â¨ÃƒÂ¥Ã‹â€ Ã¢â‚¬Â ÃƒÂ§Ã‚Â»Ã¢â‚¬Å“ÃƒÂ¦Ã‚ÂÃ…Â¸ */


/* ÃƒÂ¤Ã‚Â¸Ã‚Â»ÃƒÂ¤Ã‚Â½Ã¢â‚¬Å“ÃƒÂ©Ã†â€™Ã‚Â¨ÃƒÂ¥Ã‹â€ Ã¢â‚¬Â ÃƒÂ¥Ã‚Â¼Ã¢â€šÂ¬ÃƒÂ¥Ã‚Â§Ã¢â‚¬Â¹ */
.mainContainer {
    display: block;
    max-width: 1280px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.root span a {
    font-size: 12px;
    color: #515151;
    font-family: sans-serif;
    display: inline-block;
}

.root span {
    font-size: 12px;
    padding: 0px 5px;
}

.lunbo img {
    width: 100%;
}

.root {
    padding: 5px 0px;
}

.oneBox {
    position: absolute;
    top: 15%;
    left: 16%;
}

.oneBox h3 {
    font-size: 36px;
}

.oneBox h3 span {
    display: block;
    font-size: 16px;
    width: 110px;
    background: #e71224;
    color: #fff;
    text-align: center;
    padding: 8px 0px;
    font-weight: 400;
}

.oneBox p {
    font-size: 20px;
    margin-bottom: 10px;
}

.oneBoxBtn {
    margin-top: 75px;
}

.oneBoxBtn p {
    font-size: 14px;
    margin-bottom: 10px;
}

.oneBoxBtn p span {
    font-size: 22px;
    font-weight: 600;
}

.oneBoxBtn button {
    border: none;
    padding: 15px 35px;
    background: #000;
    color: #fff;
    font-size: 18px;
}

.twoBox {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    top: 50px;
    bottom: 0px;
    text-align: center;
}

.Boxheader h3 {
    font-size: 32px;
    margin-bottom: 5px;
}

.twoBox .oneBoxBtn {
    margin: 210px;
}

.Boxheader p {
    font-size: 18px;
}

.swiper-container {
    --swiper-theme-color: #ff6600;
    --swiper-pagination-color: #00ff33;
}
.swiper-container{
    --swiper-theme-color: #ff6600;
    --swiper-navigation-color: #00ff33;
    --swiper-navigation-size: 30px;
}
.sideflex {
    display: flex;
}

.blockNav {flex: 1 1 auto;}

.sideNav {
    flex: 1 0 245px;
    padding: 20px 0px 20px 0px;
    background: #0078d4;
    margin-right: 40px;
}

.sideNav nav {
    height: 100%;
}

.sideNav nav li {
    text-align: center;
    margin: 15px 0px;
    color: #fff;
}

.sideNav nav li span {
    font-size: 20px;
    font-weight: 600;
}

.sideNav nav li a {
    color: #fff;
}

.blockNav ul {
    display: flex;
    height: 100%;
}

.blockNav ul li {
    flex: 1;
    padding: 0px 10px;
}

.blockNav li figcaption img {
    width: 100%;
}

.blockNav li figcaption p {
    font-size: 16px;
    margin: 10px 0px 0px 0px;
    color: #666;
}
.blockNav li figcaption p:nth-child(3){
    margin-top:0px;
}

.priceWrap {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.priceWrap span.price {
    color: #ec5411;
    font-size: 18px;
}

.priceWrap span a {
    color: #ec5411;
}

.blockNav nav {
    height: 100%;
}
